config/config.json
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# PyInstaller
*.spec

# Sentry
.sentry-native/
.sentry-native/*
src/euroscope_sector_providers.txt
src/SectorFileProviderDescriptor.txt
src/version.txt
src/config/config.json
src/.sentry-native/settings.dat
/src/.sentry-native
src/.sentry-native/settings.dat
src/.sentry-native/settings.dat
